@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
    <style>
        .content ul li {
            list-style-type: none;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Phần mềm Ôn Thi <strong>Thánh Kinh Căn Bản</strong></h1>
    <p>Công cụ giúp ôn thi TKCB dưới dạng trắc nghiệm.</p>
</div>
@for(int year = 1; year < 5; year++)
{
<h2 class="mt-5">Năm @year</h2>
<div class="row">
    @for (int number = 1; number < 6; number++)
    {
    <div class="col-md-4 content my-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a asp-page="Quiz" asp-route-year="@year" asp-route-number="@number">@Model.GetTitle(year, number)</a></h5>
                
            </div>
        </div>
    </div>
    }
</div>
}
   

