@model dynamic
<div class="form-check">
    <input class="form-check-input" type="radio" name="@Model.Name" id="@Model.Id" value="option1">
    <label class="form-check-label" for="exampleRadios1">
        @Model.Text
    </label>
</div>